<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- <header>
        <a class="main-logo" href="/">Головна</a>
        <div class="header-profile">
            <a href="/profile">Профіль</a>
            <a href="/logout">Вийти</a>
        </div>
    </header> -->
    <header>
        <a class="main-logo" href="/">Головна</a>
        <div class="header-profile">
            <button class="profile-btn">Profile</button>
            <div class="dropdown-content">
                <a href="/profile">Профіль</a>
                <a href="/logout">Вийти</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Новий користувач</h1>
        <form class="user-info-form" action="/addUser" method="post">
            <div class="auth-box">
                <div class="username-box">
                    <label for="username">Логін:</label>
                    <input class="user-info-input" type="text" id="username" name="username" required>
                </div>
                <div class="password-box">
                    <label for="password">Пароль:</label>
                    <input class="user-info-input" type="password" id="password" name="password" required>
                </div>
            </div>

            <div class="pib-box">
                <div class="surname-box">
                    <label for="surname">Прізвище:</label>
                    <input class="user-info-input" type="text" id="surname" name="surname" required>
                </div>
                <div class="name-box">
                    <label for="name">Ім'я:</label>
                    <input class="user-info-input" type="text" id="name" name="name" required>
                </div>
                <div class="patronymic-box">
                    <label for="name">По батькові</label>
                    <input class="user-info-input" type="text" id="patronymic" name="patronymic" required>
                </div>
            </div>
            
            <div class="group-add-box">
                <div class="faculty-box">
                    <label for="faculty">Факультет:</label>
                    <input class="user-info-input" type="text" id="faculty" name="faculty" required>
                </div>
                <div class="group-box">
                    <label for="group">Група:</label>
                    <input class="user-info-input" type="text" id="group" name="group" required>
                </div>
                <div class="add-marks-box">
                    <label for="additionalMarks">Додаткові бали:</label>
                    <input class="user-info-input" type="number" id="additionalMarks" name="additionalMarks" required>
                </div>
            </div>
            
            <div class="table-container">
                <table id="subjects-table" class="subjects-table">
                    <thead>
                        <tr>
                            <th class="subject-head">Предмет</th>
                            <th class="teacher-head">Викладач</th>
                            <th class="mark-head">Оцінка</th>
                            <th class="delete-head"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="subject-column"><input class="subjects-input" type="text" name="subjects[0][subject]" required></td>
                            <td class="teacher-column"><input class="subjects-input" type="text" name="subjects[0][teacher]" required></td>
                            <td class="mark-column"><input class="subjects-input" type="number" name="subjects[0][mark]" ></td>
                            <td class="delete-column"><button class="delete-subject-btn" type="button" onclick="removeSubject(this)"><i class="fa">&#xf014;</i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <button class="add-subject-btn" type="button" onclick="addSubject()">&#10010;</button>

            <a class="cancel-user-btn" href="/profile">Cancel</a>
            <button class="update-btn" type="submit">Зберегти</button>

        </form>
    </div>

    <script>
        function addSubject() {
            const table = document.getElementById('subjects-table').getElementsByTagName('tbody')[0];
            const index = table.children.length;
            const row = table.insertRow();
            row.innerHTML = `
                <td class="subject-column"><input class="subjects-input" type="text" name="subjects[${index}][subject]" required></td>
                <td class="teacher-column"><input class="subjects-input" type="text" name="subjects[${index}][teacher]" required></td>
                <td class="mark-column"><input class="subjects-input" type="number" name="subjects[${index}][mark]" ></td>
                <td class="delete-column"><button class="delete-subject-btn" type="button" onclick="removeSubject(this)"><i class="fa">&#xf014;</i></button></td>
            `;
        }

        function removeSubject(button) {
            const row = button.parentElement.parentElement;
            row.parentElement.removeChild(row);
        }


        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.profile-btn').addEventListener('click', function(event) {
                event.stopPropagation();
                document.querySelector('.dropdown-content').classList.toggle('show');
            });

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.profile-btn')) {
                    var dropdowns = document.querySelectorAll('.dropdown-content');
                    dropdowns.forEach(function(dropdown) {
                        if (dropdown.classList.contains('show')) {
                            dropdown.classList.remove('show');
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>



