.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .user-cards-container,
  .admin-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* flex-direction: row; */
    /* gap: 20px; */
    padding: 10px;
  }
  
  .admin-card{
    background-color: rgba(94, 197, 171, 0.05);
    border-radius: 10px;

    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    width: calc(25% - 20px);
    height: 320px;
    box-sizing: border-box;

    /* font-size: 20px; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  } 

  .admin-info-form label{
    display: flex;
    font-family: inherit;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .admin-info-form input{
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    font-size: 20px;
    padding: 10px;

    border: 2px solid rgb(53, 176, 162);
    border-radius: 10px;
    font-family: inherit;
    outline: none;
  }


  .admin-safe-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: inherit;
    border: none;
    background-color: rgb(53, 176, 162);
    cursor: pointer;
    color: white;
    border-radius: 10px;
  }
  .admin-safe-btn:hover{
    background-color: rgb(39, 132, 121);
}
  .admin-delete-btn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    font-size: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .admin-delete-btn:hover{
    color: red;
  }
  
  .user-card {
    background-color: rgba(94, 197, 171, 0.05);
    border-radius: 10px;

    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px;
    width: calc(20% - 20px);
    height: 320px;
    box-sizing: border-box;
    cursor: pointer;

    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .user-card h3{
    align-self: center;
    margin-bottom: 20px;
    /* font-size: 24px; */
  }

  .user-card-txt{
    margin-top: 15px;
  }
  
  .user-card.add-user-card,
  .admin-card.add-admin-card{
    /* background-color: #f0f0f0; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    font-size: 60px;
    font-weight: 1000;
  }
  .user-card.add-user-card:hover,
  .admin-card.add-admin-card:hover{
    background-color: #f0f0f0;
  }