#admin-controls{
    align-self: center;
    margin-bottom: 40px;
}
/* .admin-controls-from{
    display: flex;
} */

/* .faculty-info{
    width: 520px;
    display: flex;
    margin-bottom: 40px;
} */

.faculty-info-text,
.faculty-info-text-2{
    font-size: 26px;
    font-weight: 600;
    font-family: inherit;
}
.faculty-info-text{
    width: 200px;
}
/* .faculty-info-text-2{
    width: 290px;
    margin-left: 30px;
} */


.faculty-info-accent{
    font-weight: 800;
    color: var(--input-border);
    margin-left: 5px;

}

.faculty-buttons{
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100%;
    margin-bottom: 20px;
}
.faculty-buttons button{
    height: 100%;
    margin: 0;
    max-width: 200px;
    width: calc(100% / 2);
    border: 1px solid var(--white);
    background-color:var(--th-background);
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;

    cursor: pointer;
}

.faculty-buttons button:hover{
    background-color: #bbb;
}

.faculty-buttons button.active{
    background-color: var(--input-border);
}



/* .faculty-dropdown{
    width: 80px;
    height: 44px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(53, 176, 162);
    outline: none;
    font-weight: 700;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
} */

/* .students-number-input{
    width: 200px;
    height: 44px;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;

    color: black;
    font-weight: 700;
    outline: none;
    border: 2px solid rgb(53, 176, 162);
} */
.students-number-btn{
    margin-left: 40px;
    box-sizing: border-box;
    background-color: var(--input-border);
    width: 100px;
    height: 44px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.students-number-btn:hover{
    background-color: var(--save-hover);
}



th, td {
    font-size: 20px;
    height: 50px;
    white-space:nowrap;
}

.pib-column,
.pib-head{
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    padding: 8px;
    white-space:nowrap;

}


.index-column,
.group-column,
.avg-column,
.add-column,
.rating-column,
.faculty-column,

.index-head,
.group-head,
.avg-head,
.add-head,
.rating-head,
.faculty-head{
    border: 1px solid var(--gray);
    padding: 8px;
    text-align: center;
    white-space:nowrap;
}

.index-column{
    width: 5%;
}

.pib-column{
    width: 30%;

}

.group-column,
.faculty-column{
    width: 10%;
}
.avg-column,
.add-column,
.rating-column{
    width: 15%;
}

th {
    background-color: var(--th-background);
    /* border: 1px solid #ddd;
    padding: 8px;
    text-align: center; */
}

/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */