#admin-controls{
    align-self: center;
    margin-bottom: 40px;
}
.admin-controls-from{
    display: flex;
}

.faculty-info{
    width: 520px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 40px;
}
.faculty-info-text,
.faculty-info-text-2{
    font-size: 26px;
    font-weight: 600;
    font-family: inherit;
}
.faculty-info-text{
    width: 180px;
}
.faculty-info-text-2{
    width: 300px;
    margin-left: 40px;
}


.faculty-info-accent{
    font-weight: 800;
    color: rgb(53, 176, 162);
    margin-left: 5px;

}

.faculty-buttons{
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}
.faculty-buttons button{
    height: 100%;
    margin: 0;
    width: calc(100% / 10);
    border: 1px solid white;
    background-color:#f2f2f2;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;

    cursor: pointer;
}

.faculty-buttons button:hover{
    background-color: #bbb;
}

.faculty-buttons button.active{
    background-color:rgb(53, 176, 162);
}



.faculty-dropdown{
    width: 60px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(53, 176, 162);
    outline: none;
    font-weight: 700;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}


.students-number-input{
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;

    color: black;
    font-weight: 700;
    outline: none;
    border: 2px solid rgb(53, 176, 162);
}
.students-number-btn{
    margin-left: 40px;
    box-sizing: border-box;
    background-color: rgb(53, 176, 162);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.students-number-btn:hover{
    background-color: rgb(39, 132, 121);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 18px;
}

th, td {
    font-size: 20px;
}

.pib-column{

    border: 1px solid #ddd;
    padding: 8px;

}

.index-column,
.group-column,
.avg-column,
.add-column,
.rating-column,
.faculty-column,

.index-head,
.pib-head,
.group-head,
.avg-head,
.add-head,
.rating-head,
.faculty-head{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.index-column{
    width: 5%;
}

.pib-column{
    width: 30%;

}

.group-column,
.faculty-column{
    width: 10%;
}
.avg-column,
.add-column,
.rating-column{
    width: 15%;
}

th {
    background-color: #f2f2f2;
    /* border: 1px solid #ddd;
    padding: 8px;
    text-align: center; */
}

/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */