@import url(css/login.css);
@import url(css/header.css);
@import url(css/main.css);
@import url(css/dashboard.css);
@import url(css/editUser.css);
@import url(css/addUser.css);
@import url(css/profile.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    


    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.toastify-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it is on top of other elements */
  width: fit-content;
}



body {
    height: 100vh;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}


h1 {
  font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

